<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" [(opened)]="opened">
        <a routerLinkActive="active" mat-button class="menu-button" routerLink="/">
            <mat-icon aria-hidden="false">home</mat-icon>
            Home
        </a>        
        <mat-divider></mat-divider>
        <a routerLinkActive="active" mat-button class="menu-button" routerLink="/settings">
            <mat-icon aria-hidden="false">settings</mat-icon>
            Settings
        </a>        
        <mat-divider></mat-divider>

        <div>
            <button (click)="login()" *ngIf="!isLoggedIn()">Sign In</button>
            <button (click)="logout()" *ngIf="isLoggedIn()">Sign Out</button>
            <div *ngIf="isLoggedIn()">
                You are Logged in
            </div>
            <div *ngIf="!isLoggedIn()">
                You are not Logged in
            </div>
        </div>

        <div>
            <button (click)="getClaims()">Claims</button>
        </div>
    </mat-sidenav>
    
    <mat-sidenav-content>
        
        <mat-toolbar>
            <button (click)="sidenav.toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
             <mat-icon>menu</mat-icon>
           </button>
         </mat-toolbar>

         <router-outlet></router-outlet>
    </mat-sidenav-content>
    
    
</mat-sidenav-container>
